.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 30px;
}
.card_container {
  display: grid;
  gap: 40px;
  grid: auto auto/1fr 1fr;
}
