.container {
  width: 70%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill_item {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.skill_title {
  margin: 0;
}
